.list-inside {
  text-align: start;
}

.list-item {
  font-weight: 700;
  font-style: normal;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 25px;
  letter-spacing: 0em;
  --para-spacing: 0;
  text-transform: none;
  --head-indent: 1.7;
  --numeric-list-marker: none;
  list-style-type: disc;
  margin-bottom: 10px;
}

.full-width {
  width: 100%;
}
.mvtImg {
  display: none;
}
@media screen and (min-width: 770px) {
  .mvtContainer {
    position: relative;
    height: 350px;
  }
  .mvtImg {
    display: unset;
    position: absolute;
    top: -180px;
    right: 0;
  }
  .content {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
  }
}
@media screen and (min-width: 1500px) {
  .content {
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%);
  }
}
